<!DOCTYPE html>
<html lang="es">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'appIMDb/styles.css' %}">
  </head>

  <body>
      <p>
          <a href="{% url 'appIMDb:index' %}">Pagina principal</a> - 
          <a href="{% url 'appIMDb:peliculas' %}">Peliculas</a> - 
          <a href="{% url 'appIMDb:generos' %}">Generos</a> - 
            {% if user.is_authenticated %}
                Hola, {{ user.username }}. - 
                <a href="{% url 'users:listaFav' %}">Tus favoritos</a> - 
                <a href="{% url 'users:logout' %}">Cerrar sesion</a>
            {% else %}
                <a href="{% url 'users:registro' %}">Registrate</a> - 
                <a href="{% url 'users:login' %}">Accede a tu cuenta</a>
            {% endif %}
      </p>
      {% block content %}{% endblock content %}
  </body>
</html>