{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="es">
  <head>
    {% load static %}
    <title>Clon IMDb</title>
    <link rel="stylesheet" href="{% static 'appIMDb/styles.css' %}">

    {% bootstrap_css %}
    {% bootstrap_javascript %}

  
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous">
    </script>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top"
    style="background-color: #1F2937;">
      <a class="navbar-brand" href="{% url 'appIMDb:index' %}" 
        style="padding-left: 1vh;">
        Clon IMDb
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" 
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
              style="margin-right: 1vh;">
        <span class="navbar-toggler-icon">
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Acceso a las peliculas -->
        <ul class="navbar-nav mr-auto me-auto mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'appIMDb:peliculas' %}">
                Peliculas
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'appIMDb:generos' %}">
                Generos
              </a>
            </li>
        </ul>
        <!-- Opciones de usuario -->
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <span class="navbar-text">
              Hola, {{ user.username }}.
            </span>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:listaFav' %}">
                Favoritos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:logout' %}">
                Cerrar sesion
              </a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:registro' %}">
                Registrate
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:login' %}">
                Accede a tu cuenta
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      <div class="pb-2 mb-2 border-bottom" style="padding-top: 60px;">
          {% block page_header %}
          {% endblock page_header %}
      </div>
      <div>
          {% block content %}
          {% endblock content %}
      </div>
  </main>
  </body>
</html>