{% extends 'appIMDb/base.html' %}

{% block page_header %}

    <h1 class="display-5">
        <div class="text-center fw-bold">
            <a href="{% url 'appIMDb:pelicula' pelicula.id %}"
                style="text-decoration: none;">
                {{ pelicula }}
            </a>
        </div>
    </h1>

{% endblock page_header %}

{% block content %}

    <p>Escribe una review: </p>
    <form action="{% url 'appIMDb:nuevaReview' pelicula.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">Subir review</button>
    </form>

{% endblock content %}