<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Pelicula</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      .checked {
        color: orange;
      }
    </style>
  </head>


  <body style="background-color: #1C1C1C; color: white;">
    {% extends "appIMDb/base.html" %}

    {% block page_header %}

      <div class="header">
        <div class="content">
          <div class="image">
            <img style="width: 35vh; height: auto;" 
              src="{{ pelicula.portada }}" 
              alt="Portada">
          </div>
          <div class="text">
            <div class="title">
              <div class="main">
                {{ pelicula }}
              </div>
              <div class="subtext">
                {{ pelicula.anio }}
              </div>
            </div>
            <div class="rating">
              <div class="fa fa-star checked">
                {{ calificacion }} / 10
              </div>
            </div>
            <div class="genero">
              <a href="{% url 'appIMDb:genero' pelicula.genero.id %}"
                class="btn btn-primary btn-sm"
                role="button">
                {{ pelicula.genero }}
              </a>
            </div>
          </div>
        </div>
      </div>

    {% endblock page_header %}

    {% block content %}

        {% if user.is_authenticated %}
          {% if favFlag %}
            <a class="btn btn-danger btn-sm"
              role="button" 
              href="{% url 'users:marcarFav' pelicula.id %}">
              Eliminala de tus favoritos
            </a>
          {% else %}
            <a class="btn btn-primary btn-sm"
              role="button"
              href="{% url 'users:marcarFav' pelicula.id %}">
              Marcala como de tus favoritas
            </a>
          {% endif %}
        {% endif %}

        {% if calificacion %}
          <span class="fa fa-star checked"> {{ calificacion }} / 10</span>
        {% else %}
          <p>
            Nadie ha calificado esta pelicula, 
            <a href="{% url 'appIMDb:nuevaReview' pelicula.id %}">
               se el primero!
            </a>
          </p>
        {% endif %}

        <p>Id IMDb: {{ pelicula.codigo }}</p>

        <p>Genero: {{ pelicula.genero }}</p>

        <p>Sinopsis: {{ pelicula.sinopsis }}</p>

        {% if user.is_authenticated %}
            <p>Que piensas sobre esta pelicula?</p>
            <a href="{% url 'appIMDb:nuevaReview' pelicula.id %}">Escribe una review!</a>
        {% else %}
            <p>Quieres darnos tu opinion? Entra a tu cuenta y cuentanos!</p>
            <a href="{% url 'users:registro' %}">Registrate</a> - 
            <a href="{% url 'users:login' %}">Accede a tu cuenta</a>
        {% endif %}
        
        <br>
        <img 
        class="poster"
        src="{{ pelicula.portada }}" 
        alt="portada de la pelicula"
        style="width: 300px; height: auto;">

        <p>Reviews:</p>
        {% for review in reviews %}
        <p>Usuario: {{ review.usuario }}</p>
        {{ review.texto }}
        {% empty %}
        <p>Todavia no hay ninguna review</p>
        {% endfor %}

    {% endblock content %}
  </body>
</html>