<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Pelicula</title>
  </head>

  <body>
    {% extends "appIMDb/base.html" %}

    {% block content %}
    
        <p>Pelicula: {{ pelicula }}</p>
        <a href="{% url 'users:marcarFav' pelicula.id %}">Marcala como de tus favoritas</a>

        {% if calificacion %}
          <p>Calificacion: {{ calificacion }}</p>
        {% else %}
          <p>
            Nadie ha calificado esta pelicula, 
            <a href="{% url 'appIMDb:nuevaReview' pelicula.id %}">
               se el primero!
            </a>
          </p>
        {% endif %}

        <p>Id IMDb: {{ pelicula.codigo }}</p>

        <p>Genero: {{ pelicula.genero }}</p>

        <p>Anio de lanzamiento: {{ pelicula.anio }}</p>

        <p>Sinopsis: {{ pelicula.sinopsis }}</p>

        {% if user.is_authenticated %}
            <p>Que piensas sobre esta pelicula?</p>
            <a href="{% url 'appIMDb:nuevaReview' pelicula.id %}">Escribe una review!</a>
        {% else %}
            <p>Quieres darnos tu opinion? Entra a tu cuenta y cuentanos!</p>
            <a href="{% url 'users:registro' %}">Registrate</a> - 
            <a href="{% url 'users:login' %}">Accede a tu cuenta</a>
        {% endif %}
        
        <br>
        <img 
        class="poster"
        src="{{ pelicula.portada }}" 
        alt="portada de la pelicula">

        <p>Reviews:</p>
        {% for review in reviews %}
        <p>Usuario: {{ review.usuario }}</p>
        {{ review.texto }}
        {% empty %}
        <p>Todavia no hay ninguna review</p>
        {% endfor %}

    {% endblock content %}
  </body>
</html>